
.hobbies {
    display: flex;
}
.film-books {
    background-color: aliceblue;
    text-align: left;
    font-size: large;
    margin: 5px;
}
.strength-training {
    background-color: aliceblue;
    margin: 5px;
}
.open-mic {
    background-color: aliceblue;
    margin: 5px;
}
.pictures {
    display: flex;
    gap: 10px;
}
.about-h3 {
    color: black;
    background-color: aliceblue;
}
.about-h1 {
    font-size: xxx-large;
}