.wrapper {
    display: grid;
} 
.picture {
    grid-row: 1;
}
.mission {
    grid-column: 2;
    text-align: center;
    background-color: white;
    margin: 20px;
    margin-bottom: 20em;
    margin-right: 10em;
}
.quote {
    text-align: center;
    font-size: xx-large;
    padding: 50px;
    margin-left: 200px;
}
.words {
    font-size: xx-large;
    padding: 10px;
}